body {
  overflow: hidden;
}

.main-view {
    flex-direction: column;
    margin: 0 -24px 0 0;
}

.tab-page-manager {
    margin: -12px;
    margin-top: -8px;
}

.entity-grid {
    height: calc(100vh - 136px);
    overflow-y: auto;
}

[theme~="dark"] {
  --lumo-base-color: rgb(15, 18, 22);
}
