<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Petstore Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="iframe-navigator/navigation.css">
	<style>
		:root { --sidebar-width: 250px; }
		body { 
			font-family: "Lato", sans-serif; 
			color: white;
			padding-left: 5px;
		}
	</style>
	<script src="iframe-navigator/navigation.js"></script>
</head>
<body>

<div id="sidenav">
	<h3>Petstore Admin</h3>
	<a href="ux/">Petstore</a>
	<a href="ui/w2ui/index.html">JPA Entities</a>
	<a th:href="'file-manager/index.html?path=' + ${@environment.getProperty('user.home')}">File Manager</a>
	<a th:href="'file-explorer/?dir=' + ${@environment.getProperty('user.home')}">File Explorer</a>
	<a href="web-shell/index.html">Web Shell</a>
	<a href="h2">H2 Console</a>
	<a href="swagger-ui/index.html">Swagger UI</a>
	<a th:href="'logs/?dir=' + ${@environment.getProperty('logging-path')}">Log Viewer</a>
</div>

<div id="main"></div>

</body>
</html>
